<div
  class="todo-item"
  (click)="onTodoClicked()"
  [class.completed]="todo.completed"
>
  <div class="check-box">
    <span class="material-icons">check</span>
  </div>
  <div class="todo-text">
    {{ todo.text }}
  </div>
  <div class="todo-controls-box" (click)="$event.stopPropagation()">
    <div class="todo-controls-button" #editBtn (click)="onEditClicked()">
      <span class="material-icons"> edit </span>
    </div>
    <div
      class="todo-controls-button is-danger"
      appToolTip="Delete todo"
      (click)="onDelete()"
    >
      <span class="material-icons"> delete </span>
    </div>
  </div>
</div>
